.jumbotron
  h2 Are you happy ?
  form.form-inline
    .row
      .col-md-4
        button.btn.btn-primary.btn-lg.btn-block(type='button') Yes
      .col-md-4
        button.btn.btn-primary.btn-lg.btn-block(type='button') No
      .col-md-4
        button.btn.btn-primary.btn-lg.btn-block(type='button') I don&apos;t know
    