doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    link(rel='icon', href='../../favicon.ico')
    |     
    title Navbar Template for Bootstrap
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='css/custom.css', rel='stylesheet')
  |   
  body
    .container
      // Static navbar
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              |               
              span.icon-bar
              |               
              span.icon-bar
              |               
              span.icon-bar
            |             
            a.navbar-brand(href='index.html') TWEB Real Time Demo
          |           
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Audience
              |               
              li
                a(href='board.html') Board
              | &#x9;&#x9;&#x9;&#x9;  
              li
                a(href='debug.html') Debug
          // /.nav-collapse
        // /.container-fluid
      // Main component for a primary marketing message or call to action
      .jumbotron
        h1 Are you happy ?
        |   
        form.form-inline
          button.btn.btn-primary.btn-lg(type='button') Yes
          |   
          button.btn.btn-primary.btn-lg(type='button') No
          |   
          button.btn.btn-primary.btn-lg(type='button') I don&apos;t know
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    |     
    script(src='js/bootstrap.min.js')
